
.screen-main {
    height: 100vh;
    background: url('../images/main-screen__bgc.png') no-repeat center;
    background-size: cover;
}
.screen-main .inner {
    display: flex;
    align-items: center;
    height: 100%;
}
.screen-main h1 {
    color: #fff;
}
